.rect1{
    justify-self: center;
    position: absolute;
    width: 1280px;
    height: 55px;
    left: 0px;
    top: 1305px;
    background: #313131;
}

.rect2{
    position: absolute;
    width: 1280px;
    height: 6px;
    left: 0px;
    top: 1299px;
    background: #C23F81;
}