.gallery{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.style{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.01em;
    background-color: white;
    color: #C23F81;
}







