
.nav{
    margin-left: 0px;
    height: 100px;
    top: 5px;
    background: linear-gradient(0deg, rgba(194, 11, 108, 0.2), rgba(165, 40, 127, 0.404)),
                linear-gradient(0deg, rgba(194, 12, 139, 0.623), rgba(134, 23, 101, 0.664));
}

.navtext{
    width: 100px;
    margin-left: 50px;
    margin-top: 40px;
}

.nav-container {
    width: 100%;
}


