.containerNav{
    display: grid;
    column-gap: 100px;
    justify-items: center;
    position: absolute;
    width: 81px;
    height: 37px;
    left: 70px;
    top: 15px;
}
.boton{
    position: absolute;
    width: 81px;
    height: 37px;
    left: 1129px;
    top: 19px;
}