.nav{
    padding: 5px;
    height: 100px;
    top: 5px;
    background-color:darkmagenta;
    color: white;
}
.boton{
    position: absolute;
    width: 81px;
    height: 37px;
    left: 1129px;
    top: 19px;
}